body {
	padding: 0;
	margin: 0;
	color: #000;
	font-size: 14px;
	font-family: 'Oxygen', sans-serif;
}

button {
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
	padding: 0;
}

p {
	padding: 0;
	margin: 0;
}

figure {
	padding: 0;
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
}

h1 span {
	display: block;
}

ul,li{
	display: block;
}

/*Sections*/

.main {
	margin: 0 auto;
	width: 1200px;
	display: flex;
}

.left-section {
	width: 50%;
}

.right-section {
	width: 50%;
}

.nav {
	margin: 0 auto;
	width: 90%;
	justify-content: center;
}


/*Left Section*/

.piano {
	margin-top: 90px;
	height: 250px;
	width: 540px;
	background-color: #F3F3F3;
} 

.complete-progress {
	margin-top: 50px;
	height: 150px;
	width: 540px;
	background-color: #C0FF0E;
	border-radius: 10px;
}

/*Right Section*/

.songs-menu {
	margin-top: 90px;
}

.first-song-block {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 450px;
	height: 60px;
	background-color: #939393;
	margin: 0 auto;
}

.second-song-block {
	width: 450px;
	height: 60px;
	background-color: #717070;
	margin: 0 auto;
}

.third-song-block {
	width: 450px;
	height: 60px;
	background-color: #474747;
	margin: 0 auto;
}

/*Song Blocks*/

.songs-menu h2 {
	margin-bottom: 5px;
	color: #FFFFFF;
}

.play-button {
	margin-right: auto;
	margin-left: 15px;
	width: 25px;
	height: 25px;
}

.song-status {
	margin-left: auto;
	margin-right: 20px;
	width: 19px;
	height: 19px;
	border-radius: 20px;
	background-color: #B0EE00;
}

/*--- First Song Block ---*/



/*Piano*/

.piano {
  display: flex;
}

.key {
  height: calc(var(--width) * 3.30);
  width: var(--width);
}

.white {
  --width: 75px;
  background-color: #F3F3F3;
  border: 1px solid #C4C4C4;
}

.first-key {
	border-radius: 0px 0px 0px 5px;
}

.last-key {
	border-radius: 0px 0px 5px 0px;
}

.white.active {
  background-color: #CCC;
}

.black {
  --width: 40px;
  background-color: #474747;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
  border-radius: 0px 0px 4px 4px;
}

.black.active {
  background-color: #333;
}